.navContainer {
  height: 80px;
  max-width: 100vw;
  display: flex;
  justify-content: center;

  .navbar {
    height: 100%;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .logo {
      height: 90%;

      img {
        height: 100%;
      }
    }

    .navlink {
      display: flex;
      list-style-type: none;
      gap: 25px;

      a{
       transition-duration: 0.3s;
        &:hover{
          scale: 1.2;
        }
      }
    }
  }
}
