*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a{
        text-decoration: none;
        color: inherit;
    }
}
.app{
    // color: red;
}


@import "./Abstructs//Mixin";
@import "./components/navbar";
@import "./components/_hero";
@import "./components/parallax";
@import "./components/about";
@import "./components/animatedButton";
@import "./components/service";
@import "./components/need";