.parallax {
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: relative;
  width: 100%;
  color: white;

  img {
    width: 100%;
    display: block;
    position: absolute; 
    top: -350px;
    filter: brightness(55%);
  }  
}
